<h1>Welcome to the To Do List Application</h1>

<a href="/categories">View Category List</a>
<a href="/categories/new">Add a New Category</a>

#*
<a href="/tasks/new">Add a new task</a>
<br>
<a href="/tasks">View all current tasks</a>
*#